.active {
    text-decoration: underline;
    text-underline-offset: 5px; /* Adjust the offset as needed */
    color: #39DB4A;
}
/* Pagination styles */
.pagination-btn {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    padding: 8px 12px;
    margin-right: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .pagination-btn.active {
    background-color: #39DB4A;
    color: #fff;
  }
  
  .pagination-btn:hover {
    background-color: #007bff;
    color: #fff;
  }
  